body{
    direction: ltr;
    background: var(--farst-color);
}
:root{
    --farst-color: #0a162d;
    --secand-color:#c8daf4;
    --therd-color: #ebd07d;
    --fourth-color: #3bbfb5;
    --fifth-color: #3d39cb;
}
/* headeer navbar */
.header-main{
    height: 200%;
    width: 100%;
    display: block;
    background-image: url(../img/header/hero-bg\ -\ watchlist.png);
    background-size: cover;
    background-color: #f3f7f900;
    background-position: right top;
    background-repeat: no-repeat;
    position: absolute;
    overflow: hidden;
    top: 0;
    right: 0;
    z-index: -99;
}
.navbar-nav{
    margin-right: 0;
    margin-left: auto;
}
.navbar-nav .nav-item{
    position: relative;
    margin: 0 10px;
    word-wrap: break-word;
}
.navbar-nav .nav-item a::after{
    transition: 0.7s ease;
    content: "";
    width: 0%;
}
.navbar-nav .nav-item:hover a::after{
    position: absolute;
    content: "";
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 32px;
    right: 0;
    height: 0.5px;
    border-radius: 5px;
    background-color: var(--farst-color);
}
.navbar-nav .nav-item:nth-child(2) a::after{
    display: none;
}
.navbar-nav .nav-item:nth-child(3) a::after{
    position: absolute;
    content: "";
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 32px;
    right: 0;
    height: 0.5px;
    border-radius: 5px;
    background-color: var(--farst-color);
}
.navbar .navbar-nav .nav-item .nav-link{
    font-size: 13px;
    font-weight: 700;
    color: var(--farst-color);
}
.navbar-icon,
.navbar-icon:hover{
    font-size: 22px;
    font-weight: 900;
    color: var(--farst-color);
    text-decoration: none;
}
.headerIcon{
    display: block;
    cursor: pointer;
}
.line1,
.line2,
.line3{
    height: 6px;
    width: 50px;
    margin-top: 4px;
    background-color: var(--farst-color);
    border-radius: 5px;
}
/* header search box */
.header-search-box form {
    background: #0000002b;
}
.header-search-box form input,
.header-search-box form button{
    background-color: rgb(13 110 253 / 0%);
    color: rgb(0 0 0 / 20%);
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.bi-search::before {
    content: "\f502";
    color: var(--farst-color);
}
.header-search-box form input{
  border: hidden;
  border-radius: 0;  
  width: 100%;
  height: 100%;
  background: #f0f8ff00;
}
.header-search-box form button {
    border-radius: 0;  
    border-left: 1px 
    var(--farst-color) solid;
    background: #f0f8ff00;
}
.header-search-box {
    position: relative;
}
.accordion-button::after{
    display: none;
}
.button.accordion-button.collapsed {
    padding: 0;
}
.accordion-body {
    padding: 0;
    position: absolute;
    right: -5p;
    top: 2px;
}
.accordion-header {
    margin-bottom: 0;
}
div#flush-collapseOne {
    position: absolute;
    top: -8px;
    left: 25px;
    width: 253px;
    height: 51px;
}
.col-md-1 {
    flex: 0;
    width: 6%;
    height: 6mm;
}
button.accordion-button.collapsed {
    padding: 0;
}
button.accordion-button {
    padding: 0;
}
button.accordion-button.collapsed {
    background-color: #f0f8ff00;;
}
/* Market Cap */
.market-cap {
    margin-top: 150px;
}
.market-cap-title{
    font-size: 17px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
}
.market-cap-title-img{
    width: 30px;
    height: 30px;
}
.card {
    word-wrap: normal;
    background-color: var(--secand-color);
    border: 1px solid rgba(0,0,0,.125);
    box-shadow: 5px 0px 6px #212529, 0px 0px 4px 0px #142645, 4px 1px 7px #21252a;
    color:  var(--farst-color);
}
.single-table-part {
    position: relative;
    z-index: 1;
    padding: 12px 15px;
    background-color:  var(--secand-color);
    margin-bottom: 2px;
    color: var(--farst-color);
}
.table-part-value span{
    font-weight: 600;
    font-size: 16px;
    margin-right: 15px;
}
.table-part-value p{
    margin-bottom: 0;
    margin-left: 20px;
    font-weight: 600;
    font-size: 15px;
}
.table-part-value img{
    width: 40px;
    height: 40px;
}
.single-table-part {
    position: relative;
    z-index: 1;
    padding: 12px 15px;
    background-color: transparent;
    margin-bottom: 0.5px;
    color:  var(--farst-color);
}
.card-body .descent p{
    margin-bottom: 0;
}
.card-body .rise p{
    margin-bottom: 0;
}
/* table */
.filte-tabel{
    margin-top: 50px;
}
.filte-tabel .container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-chart{
    width: 85%;
    color:  var(--farst-color);
    --bs-table-bg: var(--secand-color);
    --bs-table-striped-bg: #213f6f;
    --bs-table-striped-color: #fff;
    --bs-table-active-bg:  var(--secand-color);
    --bs-table-active-color: #fff;
    --bs-table-hover-bg: #213f6f;
    --bs-table-hover-color: #fff;
    border: 1px #213f6f solid;
    border-radius: 10px;
    box-shadow: 5px 0px 6px #212529, 0px 0px 4px 0px #142645, 4px 1px 7px #21252a;
}
td.img-chart {
    width: 40px;
}
.img-chart img{
    width: 100%
}
.card-body .rise,
.rise{
    font-weight: 700;
    color: green;
    font-size: 15px;
}
.card-body .descent,
.descent{
    font-weight: 700;
    color: red;
    font-size: 15px;   
}
td.chart-element {
    width: 150px;
}
td.rise,
td.descent{
    width: 80px;
}
.filte-tabel .container.filter-option{
    width: 79%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color:  var(--secand-color);
    font-weight: 600;
    font-size: 16px;
    background: var(--farst-color)17;
}
.filter-rows.d-flex {
    justify-content: center;
    align-items: baseline;
}
.filter-row-option select{
    background: transparent;
    border: none;
    margin-left: 7px;
    color: #c4d8f4;
}
.filter-table{
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 17px;
}
.filter-row-option select option{
    background-color: var(--farst-color);
}
.filter-control{
    color:  var(--secand-color);
    font-weight: 600;
}

/* footer */
footer::after {
    content: "";
    background-color: rgb(10 22 45 / 86%);
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
footer{
    background-image: url(img/calculator/bg-2.jpg);
    position: relative;
    z-index: 1;
    background-attachment: local;
    background-size: 100% 500px;
    background-repeat: no-repeat;
    height: 500px;
    margin-top: 50px;
}
a.footer-icon {
    font-size: 30px;
    font-weight: 900;
    color:  var(--secand-color);
    text-decoration: none;
}
p.footer-info {
    font-size: 15px;
    font-weight: 400;
    color:  var(--secand-color);
    margin-top: 20px;
}
.footer-social-info a{
    color:  var(--secand-color);
    margin: 16px;
    font-size: 25px;
}
.footer-link-title h4{
    color:  var(--secand-color);
    font-weight: 700;
}
a.nav-link {
    color:  var(--secand-color);
    font-size: 15px;
    font-weight: 500;
}
.form-control {
    color: #0b182e;
    background-color: #c8daf3;
    border: 1px solid #b4cbe4;
}
.form-massage-eror{
    color: transparent;
}
.contact .php-email-form .validate {
    display: none;
    color: red;
    margin: 0 0 15px 0;
    font-weight: 400;
    font-size: 13px;
}
.contact .php-email-form input, .contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
}
.contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
}
.contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}
.contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}
.contact .php-email-form button[type="submit"] {
    background: #3498db;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
}
.send-button button{
    background-color: #c8daf3;
    width: 172px;
    height: 45px;
    border-radius: 16px;
}

.value-box{
    background-color:  var(--secand-color);
    width: 100%;
    height: auto;
    border-radius: 20px;
    padding: 20px;
}
.value-box-header{
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.overview-box,
.update-box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.overview-box{
    position: relative;
    font-weight: 900;
    font-size: 20px;
    color: #172b4d;
}
.overview-box::after{
    content: "";
    width: 40px;
    height: 2px;
    border-radius: 2px;
    background-color: #172b4d;
    position: absolute;
    top: 17px;
    right: -43px
}
.overview-box::before{
    content: "";
    width: 40px;
    height: 2px;
    border-radius: 2px;
    background-color: #172b4d;
    position: absolute;
    top: 17px;
    left: -43px;
}
.update-box{
    font-weight: 400;
    font-size: 14px;
    color: #172b4d;
}
.value-box-chart{
    width: 85%;
    display: block;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}
.value-box-info{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 25px auto;
    padding: 0 100px;
}
.value-info-shop .value-shop,
.value-info-sales .value-sales{
    width: 200px;
    display: flex;
/*    justify-content: space-between;*/
    align-items: baseline;
    font-weight: 700;
    font-size: 15px;
    color: #172b4d;
}
.value-info-shop .value-shop
{
    margin: 0 30px 0 0;
}
.value-info-shop .value-shop p:last-child{
    color: #198754;
    font-weight: 800;
}
.value-info-sales .value-sales p:last-child{
    color: #e81616;
    font-weight: 800;
}
.chart-box-inner{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.value{
    background-color:  var(--secand-color);
    height: auto;
    width: 95%;
}
.chart{
    background-color:  var(--secand-color);
    margin-left: 10px;
    height: auto;
}
.chart-body{
    height: 100%;
    font-weight: 600;
    font-size: 16px;
}
.data-time{
    border-top: 1px black solid;
    font-size: 15px;
    font-weight: 600;
}
.chart{
    position: relative;
    display: none;
}
.box-inner-chart{
    position: absolute;
    height: 100%;
}
.chart-box-img img{
    width: 104%;
    height: 303px;
}
.box-inner-chart .box-chart{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: absolute;
    top: -311px;
    left: 107px;
    height: 100%;
}
.box-inner-chart .box-chart .progress-bar:nth-child(4){
    margin-right: 60px;
}
.box-inner-chart .box-chart .progress-bar:nth-child(3){
    margin-right: 50px;
}
.box-inner-chart .box-chart .progress-bar:nth-child(2){
    margin-right: 60px;
}
.box-inner-chart .box-chart .progress-bar:nth-child(1){
    margin-right: 55px;
}
.chart-org-img img{
        width: 100%;
    margin-top: 30px;
}
.table-chart{
    width: 100%;
    color:  var(--secand-color);
    --bs-table-bg: #08101f;
    --bs-table-striped-bg: #213f6f;
    --bs-table-striped-color: #fff;
    --bs-table-active-bg:  var(--secand-color);
    --bs-table-active-color: #fff;
    --bs-table-hover-bg: #213f6f;
    --bs-table-hover-color: #fff;
    border: 1px #213f6f solid;
    border-radius: 10px;
}
